.view-items-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Adjust text color */
    text-align: center;
    background: linear-gradient(-45deg, #696f2f, #222009, #949435, #716610);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    padding: 20px; /* Add padding */
}

.view-items-page h1 {
    margin-bottom: 30px;
}

.items-list {
    list-style: none; /* Remove default list styles */
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: center; /* Center items */
}

.item {
    margin: 20px; /* Space between items */
    cursor: pointer; /* Pointer on hover */
    text-align: center; /* Center item name */
    transition: transform 0.3s; /* Smooth scaling */
}

.item:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.item-image {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
}

.item-name {
    margin-top: 10px; /* Space between image and name */
    font-size: 1.1rem; /* Adjust font size */
}

.back-button {
    margin-top: 10px; /* Space specifically for the back button */
}